.basicPrice{
    font-size: 130%;
}

.pointerCursor{
    cursor:pointer;
}

.textCenter{
    text-align: center;
}

.underConstruction{
    text-align: center;
    font-size: 150%;
}

.carouselLink{
    text-align: center;
    font-size: 180%;
    color:#337ab7;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

}