.basicPrice{
    font-size: 130%;
}

.pointerCursor{
    cursor:pointer;
}

.textCenter{
    text-align: center;
}

.underConstruction{
    text-align: center;
    font-size: 150%;
}

.carouselLink{
    text-align: center;
    font-size: 180%;
    color:#337ab7;
}